
@{
    ViewData["Title"] = "Pokemones";
}

<div class="row" style="margin:15px;">
    <h2>
        Pokemones
    </h2>
</div>

<div id="pokemons-cards" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pikachu</h5>
        <p class="card-text"><b>Tipo Principal:</b> Electrico <br />
        <b>Tipo Secundario: </b>Ni idea we <br />
            <b>Region: </b>Kanto<br />
            It's Pikachu :v. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod. </p>

            <a asp-controller="Pokemons" asp-action="Edit" class="btn btn-primary">Editar</a>
            <button class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/img/pokemons/pikachu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>