@using Pokedex.Core.Application.ViewModels.Type
@model TypeViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">¿Esta seguro que quiere eliminar este Tipo? <br />
        Se eliminaran tambien todos los Pokemones de este tipo. <br />
        Esta accion no se puede deshacer</p>
    <form method="post" asp-controller="Types" asp-action="Delete">
        <a asp-controller="Types" asp-action="Index" class="btn btn-primary">Cancelar</a>
        <input type="submit" class="btn btn-danger" value="Eliminar" />
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.Name" />
    </form>
  </div>
</div>