@using Application.ViewModels.Type
@model TypeViewModel
@{
    ViewData["Title"] = "Editar Tipo";
}

<div class="card col-md-10 offset-1">
  <div class="card-header">
    <h4>Editar Tipo</h4>
  </div>
  <div class="card-body">
    <form method="post" asp-controller="Types" asp-action="Edit">

      <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Nombre</label>
        <input asp-for="@Model.Name" type="text" class="form-control">
      </div>
      
      <a asp-controller="Types" asp-action="Index" class="btn btn-warning">Volver</a>
      <button type="submit" class="btn btn-success">Terminar Edicion</button>
    </form>
  </div>
</div>